<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  font-size: 60px;
}

p {
  font-size: 25px;
  line-height: 50px;
}
</style>
</head>
<body>

<h1>This is heading 1 Chu Đức Thịnh 2121050726</h1>
<h2>This is heading 2 Chu Đức Thịnh 2121050726</h2>
<p>This is a paragraph Chu Đức Thịnh 2121050726.</p>
<p>This is another paragraph Chu Đức Thịnh 2121050726</p>

</body>
</html>